# If a translation is complete and reviewed, add it to the REVIEWED_TRANSLATIONS list
REVIEWED_TRANSLATIONS=

# If a translation hasn't been started yet, add it to the NOT_STARTED_TRANSLATIONS list
NOT_STARTED_TRANSLATIONS=hu,ru

# If the translation is close to being complete, but needs a final review, add it to the IN_REVIEW_TRANSLATIONS list
IN_REVIEW_TRANSLATIONS=ja

DEFAULT_LOCALE=en
ENV=development